<ion-view view-title="Goa" hide-nav-bar="true" class="splash-page">
  <ion-content scroll="false">

    <div class="padding logo">
      <h1>Goa</h1>
    </div>


    <div class="login-form">
      <div class="padding-left padding-right">
        <button class="button button-block action-button" ng-click="startWindowShop('men')">
          MEN
        </button>
      </div>

      <div class="padding-left padding-right">
        <button class="button button-block action-button" ng-click="startWindowShop('women')">
          WOMEN
        </button>
      </div>
    </div>


  </ion-content>
</ion-view>