<ion-view view-title="WindowShop" class="windowshop-page">
  <ion-content scroll="false">


    <div class="list card current-article" 
          ng-class="{skipped: currentArticle.rated ==false,
                    favorited: currentArticle.rated ==true}"
          ng-show= "currentArticle && !currentArticle.hide"
          on-swipe-left="sendFeedback(false)" 
          on-swipe-right="sendFeedback(true)"
          >

      <div class="item item-image">
        <img ng-src="{{currentArticle.imgurl}}" >

      </div>

      <div class="item">
        <p>{{ currentArticle.title }}</p>
        <div class="img-lookahead">
         <img ng-src="{{ nextAritcleImg() }}" />
        </div>

      </div>
      
    </div>


  </ion-content>
</ion-view>
